

<h1>
    Students Registration Operations
</h1>

<h3>
    Student List
</h3>

<a href="/Registrations/Create">Create New</a>

<table class="table">
    <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Department</th>
        <th>About</th>
    </tr>
    
    <tr>
        <td>1</td>
        <td>Alican</td>
        <td>Cesur</td>
        <td>Meth Eng.</td>
        <td>
            <a href="/Registrations/About?id=1&name=Alican">About Me</a>
        </td>
    </tr>
    <tr>
        <td>2</td>
        <td>Murtaza</td>
        <td>Kızıl</td>
        <td>Meth Eng.</td>
        <td>
            <a href="/Registrations/About?id=2&name=Murtaza">About Me</a>
        </td>
    </tr>
</table>